THIS_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
export REPO_ROOT=$(realpath -m "$THIS_DIR/")

ANSIBLE_SSH_DIR="${REPO_ROOT}/.ssh"

## Tell Ansible where to look for ansible.cfg file
export ANSIBLE_CONFIG="${REPO_ROOT}/.config/ansible/ansible.cfg"

## Set path to requirements files.
export ANSIBLE_GALAXY_REQUIREMENTS="${REPO_ROOT}/.config/ansible/requirements.yml"
## If requirements.private.yml exists, set path to file in env var
[[ -f "${REPO_ROOT}/.config/ansible/requirements.private.yml" ]] && \
  export ANSIBLE_GALAXY_REQUIREMENTS_PRIVATE="${REPO_ROOT}/.config/ansible/requirements.private.yml"

## Ansible cache
ANSIBLE_LOCAL_TMP="${REPO_ROOT}/.ansible"

## Ensure Ansible dirs exist
mkdir -p "${ANSIBLE_LOCAL_TMP}/collections" "${ANSIBLE_LOCAL_TMP}/tmp"

## Override ansible.cfg values
export ANSIBLE_ROLES_PATH="${REPO_ROOT}/roles"
export ANSIBLE_INVENTORY="${REPO_ROOT}/inventories/homelab/inventory.yml"
export ANSIBLE_COLLECTIONS_PATHS="${ANSIBLE_LOCAL_TMP}/collections"
export ANSIBLE_LOCAL_TMP="${ANSIBLE_LOCAL_TMP}/tmp"

SSH_CONFIG_PATH="${ANSIBLE_SSH_DIR}/config"
if [[ -n "$SSH_CONFIG_PATH" && -f "$SSH_CONFIG_PATH" ]]; then
    export ANSIBLE_SSH_ARGS="-F ${SSH_CONFIG_PATH}"
fi

## Set MkDocs host address & port
export MKDOCS_HOST="0.0.0.0"
export MKDOCS_PORT="8000"

## Source local/gitignored .envrc.local
source_env_if_exists .envrc.local

########################
# Example .envrc.local #
########################
# 
# ## Override default ansible inventory file
# export ANSIBLE_INVENTORY="${REPO_ROOT}/inventories/example/inventory.yml"
#
# ## Override MkDocs host address & port
# export MKDOCS_HOST="0.0.0.0"
# export MKDOCS_PORT="8000"
#
# ## Set if you get 'Failed to install pipx:ansible' error when running mise install
# # export MISE_PYTHON_COMPILE=1
