## Ansible ignores
.ansible/*
.ssh/*
.vault/*
*.private.yml

## Environments
env_files/
env/
ENV/

.venv
venv/

.env
*.env
*.*.env

.envrc.local

## VSCode
.vscode/settings.json

## MkDocs
site/

## Allow Environment patterns
!*example*
!*example*.*
!*.*example*
!*.*example*.*
!*.*.*example*
!*.*.*example*.*
