## Ansible ignores
.ansible/*
.ssh/*
.vault/*

## Environments
env_files/
env/
ENV/

.venv
venv/

.env
*.env
*.*.env

.envrc.local

## IDEs
.vscode/settings.json

## Allow Environment patterns
!*example*
!*example*.*
!*.*example*
!*.*example*.*
!*.*.*example*
!*.*.*example*.*
