---
- name: "Ensure required packages for Docker installation are installed (Debian)"
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
      - gnupg
    state: present
    update_cache: yes
  become: true
  when: 
    - ansible_facts['os_family'] == 'Debian'
    ## Skip extra deps on Debian 13
    - ansible_distribution_release != 'trixie'

- name: "Minimal Docker dependencies for Debian 13 (Trixie)"
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
      - gnupg
    state: present
  become: true
  when: 
    - ansible_facts['os_family'] == 'Debian'
    - ansible_distribution_release == 'trixie'

- name: "Install Docker dependencies (RHEL/CentOS/Fedora)"
  ansible.builtin.package:
    name:
      - yum-utils
      - dnf-utils
      - device-mapper-persistent-data
      - lvm2
    state: present
  become: true
  when: ansible_facts['os_family'] == 'RedHat'
