###########
# Ansible #
###########
ansible_python_interpreter: "/usr/bin/python3"

ansible_svc_user: "ansible_svc"
ansible_ssh_public_key_file: "/home/$USER/.ssh/id_rsa.pub"

## Directory where SSH keys will be output. Defaults to the directory
#  a playbook was called from, i.e. plays/onboard/ssh_keys
ansible_ssh_key_dir: "/home/$USER/.ansible_ssh"

ansible_ssh_service_public_key_file: "{{ ansible_ssh_key_dir }}/{{ ansible_svc_user }}.pub"

##########
# System #
##########

## System user to create
setup_user_name: "<your-remote-username>"
## Do not allow passwordless sudo by default.
#  Override this variable per-host
setup_user_passwordless_sudo: false
## Default shell for new users
setup_user_shell: "/bin/bash"

common_debian_packages:
  [
    "btop",
    "curl",
    "dos2unix",
    "git",
    "htop",
    "ncdu",
    "neovim",
    "tmux",
    "unzip",
    "wget",
    "zip",
  ]

common_redhat_packages: []
