---
- name: Install and configure Zabbix agent on remote hosts
  hosts: all

  vars:
    zabbix_agent_ver: "7.4"

  tasks:
    - name: "Gather facts"
      ansible.builtin.import_role:
        name: my.homelab.facts

    - name: Import Zabbix agent installer role tasks
      ansible.builtin.import_role:
        name: my.homelab.zabbix
        tasks_from: install-zabbix-agent.yml

    - name: Import Zabbix agent config role tasks
      ansible.builtin.import_role:
        name: my.homelab.zabbix
        tasks_from: configure-zabbix-agent.yml

    - name: Import Zabbix agent service role tasks
      ansible.builtin.import_role:
        name: my.homelab.zabbix
        tasks_from: enable-zabbix-agent.yml

    - name: Allow Zabbix Agent firewall port
      ansible.builtin.import_role:
        name: my.homelab.zabbix
        tasks_from: allow-zabbix-firewall-ports.yml
