###########
# Ansible #
###########
ansible_python_interpreter: "/usr/bin/python3"

## User for connection. I use a service account, "ansible_svc"
ansible_ssh_user: "ansible_svc"
## Name of ansible service user account
ansible_svc_user: "ansible_svc"

## Path to SSH key (note: you must copy this to the host with ssh-copy-id before using Ansible)
# ansible_ssh_private_key_file: "~/.ssh/cybernex_ansible_id_rsa"
# ansible_ssh_public_key_file: "~/.ssh/cybernex_id_rsa.pub"

## Directory where SSH keys will be output. Defaults to the directory
#  a playbook was called from, i.e. plays/onboard/ssh_keys
ansible_ssh_key_dir: "/path/to/ansible_ssh/keyfiles"

## Path to service account SSH private key
ansible_ssh_private_key_file: "{{ ansible_ssh_key_dir }}/{{ ansible_svc_user }}"
## Path to service account SSH public key
ansible_ssh_service_public_key_file: "{{ ansible_ssh_key_dir }}/{{ ansible_svc_user }}.pub"
ansible_ssh_public_key_file: "{{ ansible_ssh_key_dir }}/{{ ansible_svc_user }}.pub"

## For path substitution, i.e. "/home/{{ remote_host_user }}"
remote_host_user: "<your-remote-username>"

#########
# Pyenv #
#########

# Set Python version(s) to install
pyenv_install_versions_str: "3.11.8 3.12.0 3.12.4"
# String for "pyenv global ..."
pyenv_global_versions_str: "3.11.8 3.12.0"
# String for when a single Python version is required
pyenv_python_ver: "3.11.8"

#############
# Tailscale #
#############

## Generate new keys at: https://login.tailscale.com/admin/settings/keys
tailscale_preauth_key: ""

#######
# Git #
#######
git_default_branch_name: "main"
git_user_name: ""
git_user_email: ""

##########
# System #
##########

dns_ns: "1.1.1.1"

common_debian_packages:
  [
    "btop",
    "curl",
    "dos2unix",
    "git",
    "htop",
    "ncdu",
    "neovim",
    "tmux",
    "unzip",
    "wget",
    "zip",
    "gnupg2",
  ]

common_redhat_packages: []

##########
# Python #
##########

use_pypi_token: ""
use_test_pypi_token: ""

##########
# Zabbix #
##########
zabbix_agent_server_addr: ""
zabbix_agent_server_active: ""
zabbix_agent_listen_port: 10050
zabbix_metadata: "autoregister os=linux"

############
# Crowdsec #
############
crowdsec_enroll_token: ""

#########
# Kopia #
#########
kopia_username: admin
## You should set this variable on each host in your inventory.yml file.
#  Using the same password for all your hosts is insecure.
#  kopia_password: <your-secure-password>
